#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H
                &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N
                &kp LCTRL   &kp LALT     &kp SPACE   &kp RET      &kp BSPC    &kp RSHIFT

                &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT
                &kp H       &kp J       &kp K       &kp L       &kp SEMI     &kp APOS
                &kp N       &kp M       &kp COMMA   &kp DOT      &kp FSLH     &kp RSHIFT
                &kp LCTRL   &kp LALT     &kp SPACE   &kp RET      &kp BSPC    &kp RCTRL
            >;
        };
    };
};
