#include <physical_layouts.dtsi>

/ {
    pereda: pereda {
        compatible = "zmk,physical-layout";
        display-name = "Pereda";

        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    7  147  (-900)    57   197>
            , <&key_physical_attrs 100 100  106  131  (-900)   156   181>
            , <&key_physical_attrs 100 100  237   56       0     0     0>
            , <&key_physical_attrs 100 100  337    0       0     0     0>
            , <&key_physical_attrs 100 100  454   50     400   504   100>
            , <&key_physical_attrs 100 100  554   57     400   604   107>
            , <&key_physical_attrs 100 100 1569  147     900  1619   197>
            , <&key_physical_attrs 100 100 1470  131     900  1520   181>
            , <&key_physical_attrs 100 100 1340   56       0     0     0>
            , <&key_physical_attrs 100 100 1239    0       0     0     0>
            , <&key_physical_attrs 100 100 1123   50  (-400)  1173   100>
            , <&key_physical_attrs 100 100 1023   57  (-400)  1073   107>
            , <&key_physical_attrs 100 100   23  246  (-900)    73   296>
            , <&key_physical_attrs 100 100  122  230  (-900)   172   280>
            , <&key_physical_attrs 100 100  237  157       0     0     0>
            , <&key_physical_attrs 100 100  337  100       0     0     0>
            , <&key_physical_attrs 100 100  447  150     400   497   200>
            , <&key_physical_attrs 100 100  547  157     400   597   207>
            , <&key_physical_attrs 100 100 1554  246     900  1604   296>
            , <&key_physical_attrs 100 100 1455  230     900  1505   280>
            , <&key_physical_attrs 100 100 1340  157       0     0     0>
            , <&key_physical_attrs 100 100 1239  100       0     0     0>
            , <&key_physical_attrs 100 100 1130  150  (-400)  1180   200>
            , <&key_physical_attrs 100 100 1030  157  (-400)  1080   207>
            , <&key_physical_attrs 100 100   39  345  (-900)    89   395>
            , <&key_physical_attrs 100 100  138  329  (-900)   188   379>
            , <&key_physical_attrs 100 100  237  257       0     0     0>
            , <&key_physical_attrs 100 100  337  201       0     0     0>
            , <&key_physical_attrs 100 100  440  250     400   490   300>
            , <&key_physical_attrs 100 100  540  257     400   590   307>
            , <&key_physical_attrs 100 100 1538  345     900  1588   395>
            , <&key_physical_attrs 100 100 1439  329     900  1489   379>
            , <&key_physical_attrs 100 100 1340  257       0     0     0>
            , <&key_physical_attrs 100 100 1239  201       0     0     0>
            , <&key_physical_attrs 100 100 1137  250  (-400)  1187   300>
            , <&key_physical_attrs 100 100 1037  257  (-400)  1087   307>
            , <&key_physical_attrs 100 100  464  352     400   515   402>
            , <&key_physical_attrs 100 100  565  359     400   615   409>
            , <&key_physical_attrs 100 125  669  389    1500   719   439>
            , <&key_physical_attrs 100 100  640  264     400   690   314>
            , <&key_physical_attrs 100 100  647  164     400   697   214>
            , <&key_physical_attrs 100 100 1112  352  (-400)  1162   402>
            , <&key_physical_attrs 100 100 1012  359  (-400)  1062   409>
            , <&key_physical_attrs 100 125  907  389 (-1500)   957   439>
            , <&key_physical_attrs 100 100  937  264  (-400)   987   314>
            , <&key_physical_attrs 100 100  930  164  (-400)   980   214>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        pereda {
            physical-layout = <&pereda>;
            positions = <>;
        };
    };
};
