#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Pereda";

        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  121  257  (-900)   171   307>
            , <&key_physical_attrs 100 100 1578  257     900  1628   307>
            , <&key_physical_attrs 100 100  242  287       0     0     0>
            , <&key_physical_attrs 100 100 1457  287       0     0     0>
            , <&key_physical_attrs 100 100  138  368  (-900)   188   418>
            , <&key_physical_attrs 100 100  348  112       0     0     0>
            , <&key_physical_attrs 100 100  348  224       0     0     0>
            , <&key_physical_attrs 100 100  483  394     400   533   444>
            , <&key_physical_attrs 100 100 1216  394  (-400)  1266   444>
            , <&key_physical_attrs 100 100 1351  224       0     0     0>
            , <&key_physical_attrs 100 100 1351  112       0     0     0>
            , <&key_physical_attrs 100 100 1561  368     900  1611   418>
            , <&key_physical_attrs 100 100    0  164  (-900)    50   214>
            , <&key_physical_attrs 100 100  104  147  (-900)   154   197>
            , <&key_physical_attrs 100 100  668  295     400   718   345>
            , <&key_physical_attrs 100 100 1031  295  (-400)  1081   345>
            , <&key_physical_attrs 100 100 1594  147     900  1644   197>
            , <&key_physical_attrs 100 100 1699  164     900  1749   214>
            , <&key_physical_attrs 100 100  464  168     400   514   218>
            , <&key_physical_attrs 100 100  577   64     400   627   114>
            , <&key_physical_attrs 100 100 1122   64  (-400)  1172   114>
            , <&key_physical_attrs 100 100 1235  168  (-400)  1285   218>
            , <&key_physical_attrs 100 100  570  175     400   620   225>
            , <&key_physical_attrs 100 100 1129  175  (-400)  1179   225>
            , <&key_physical_attrs 100 100  242   63       0     0     0>
            , <&key_physical_attrs 100 125  699  435    1500   749   485>
            , <&key_physical_attrs 100 125 1000  435 (-1500)  1050   485>
            , <&key_physical_attrs 100 100 1457   63       0     0     0>
            , <&key_physical_attrs 100 100  563  287     400   613   337>
            , <&key_physical_attrs 100 100  676  183     400   726   233>
            , <&key_physical_attrs 100 100 1024  183  (-400)  1074   233>
            , <&key_physical_attrs 100 100 1136  287  (-400)  1186   337>
            , <&key_physical_attrs 100 100   33  386  (-900)    83   436>
            , <&key_physical_attrs 100 100  588  401     400   638   451>
            , <&key_physical_attrs 100 100 1111  401  (-400)  1161   451>
            , <&key_physical_attrs 100 100 1666  386     900  1716   436>
            , <&key_physical_attrs 100 100   17  275  (-900)    67   325>
            , <&key_physical_attrs 100 100  348    0       0     0     0>
            , <&key_physical_attrs 100 100 1351    0       0     0     0>
            , <&key_physical_attrs 100 100 1682  275     900  1732   325>
            , <&key_physical_attrs 100 100  242  175       0     0     0>
            , <&key_physical_attrs 100 100 1457  175       0     0     0>
            , <&key_physical_attrs 100 100  457  279     400   507   329>
            , <&key_physical_attrs 100 100  472   56     400   522   106>
            , <&key_physical_attrs 100 100 1227   56  (-400)  1277   106>
            , <&key_physical_attrs 100 100 1242  279  (-400)  1292   329>
            ;
    };
};
